:root {
	padding: 0;
    margin: 0;
	box-sizing: border-box;
	font-size: calc(0.7vw + 0.1em);
}

*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: Helvetica, Arial, sans-serif;
}



.board, .progress, .resumeSec {
    background-color: rgba(3, 241, 23, 0.158);
    width: 40vw;
    margin: auto;
    padding: .2em 2em;
}

@media (max-width: 35em) {
	 .board, .progress, .resumeSec {
		 width: auto;
	 }
 }


.board, .progressRecord {
    display: flex;    
}

.board, .progress {
    justify-content: center;
}


.progressRecord {
    padding: 0;
    margin: 0;
	line-height: .1rem;
}

.list {
	padding: 0;
}

.mngBtn, .exercise {
    font-size: 3rem;
    margin: .1em;
}

.pgrComp {
    margin-right: .5em;
	font-size: 2rem;
}

.mngBtn {
    width: calc(19vw + 1em);
    margin: .2em;
	border-radius: .2em;
}

.answer {
    width: 2em;
    border-radius: .2em;
    text-align: center;
}
